<% layout('layouts/boilerplate') %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>Create New Listing</h3>
                <br>
                <form method="POST" action="/listings" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="listing[title]" placeholder="Title" required
                            class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" required class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please enter a short description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" id="image" name="listing[image][url]" placeholder="Image URL"
                            class="form-control">
                    </div>
                    

                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="Price per night" required class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                        </div>

                        <div class="mb-3 col-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" name="listing[location]" placeholder="Location" required
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide a valid location.
                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" id="country" name="listing[country]" placeholder="Country" required
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>
                        </div>

                    </div>
                    <br>
                    <button class="btn btn-dark add-btn">Create Listing</button>
                    <br>
                </form>
            </div>
        </div>
    </body>

    </html>